In [ ]:
#Print Statement

In [7]:
print("Hope AI")

Hope AI

In [ ]:
# Buy Input

In [6]:
instiName=input("Enter the institution name : ")

Enter the institution name : Hope AI

In [ ]:
# Buy inputs

In [5]:
name=input("Enter your Name : ")
age=int(input("Enter your age : "))
schName=input("Enter your School Name : ")
degree=input("Enter your degree : ")

Enter your Name : Banu
Enter your age : 29
Enter your School Name : KAPV
Enter your degree : MCA

In [8]:
#Addition
a=23
b=34
add=a+b
print("a = ",a)
print("b = ",b)
print("Add = ",add)

a =  23
b =  34
Add =  57

In [11]:
#Subtraction
a=43 
b=34 
sub=a-b
print("a = ",a)
print("b = ",b)
print("Sub =  ",sub)

a =  43
b =  34
Sub =   9

In [12]:
#Multiplication
a=63
b=97
mul=a*b
print("a = ",a)
print("b = ",b)
print("Mul = ",mul)

a =  63
b =  97
Mul =  6111

In [16]:
#Division
a=76
b=31
div=a/b
print("a = ",a)
print("b = ",b)
print("Float Division = ",div)

a =  76
b =  31
Float Division =  2.4516129032258065

In [18]:
#Floor Division
a=76
b=31
floorDiv=a//b
print("a = ",a)
print("b = ",b)
print("Floor Division = ",div)

a =  76
b =  31
Floor Division =  2

In [19]:
#Modulo
a=76
b=31
mod=a%b
print("a = ",a)
print("b = ",b)
print("Modulo= ",mod)

a =  76
b =  31
Modulo=  14

In [20]:
#Power
a=4
b=4
power=4**4
print("a = ",a)
print("b = ",b)
print("Power = ",power)

a =  4
b =  4
Power =  256